{% extends "layout.html" %}
{% block content %}
<!--Current Location & Last Update-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">PSC</li>
        <li class="breadcrumb-item active" aria-current="page">2nd Floor</li>
    </ol>
</nav>
<div>
    <small class="text-muted">Last updated 3 mins ago</small>
</div>

<!--Status: ClassRooms PSC 2F #1-->
<div class="card-deck">
    <div class="card">
        <div class="card-header text-white bg-info mb-3 lead">PSC 248</div>
        <div class="card-body">
            <h5 class="card-title">Robotics LAB</h5>
            <p class="card-text">Room Status: </p>
            {% if 255.availability == True %}
            <p class="card-text text-success">Available</p>
            {% else %}
            <p class="card-text text-secondary">Not available.</p>
            {% endif %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#roombooking"><img
                    src="{{ url_for('static', filename='chat_bubble_white_24dp.png') }}">
                </img>Report/Book</button>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-white bg-info mb-3 lead">PSC 250</div>
        <div class="card-body">
            <h5 class="card-title">PSC 250</h5>
            <p class="card-text">Room Status: </p>
            {% if 255.availability == True %}
            <p class="card-text text-success">Available</p>
            {% else %}
            <p class="card-text text-secondary">Not available.</p>
            {% endif %}
            <a href="#" class="btn btn-primary"><img
                    src="{{ url_for('static', filename='chat_bubble_white_24dp.png') }}">
                </img>Report/Book</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-white bg-info mb-3 lead">PSC 253</div>
        <div class="card-body">
            <h5 class="card-title">PSC 253</h5>
            <p class="card-text">Room Status: </p>
            {% if 255.availability == True %}
            <p class="card-text text-success">Available</p>
            {% else %}
            <p class="card-text text-secondary">Not available.</p>
            {% endif %}
            <a href="#" class="btn btn-primary"><img
                    src="{{ url_for('static', filename='chat_bubble_white_24dp.png') }}">
                </img>Report/Book</a>
        </div>
    </div>
</div><br>

<!--Status: ClassRooms PSC 2F #2-->
<div class="card-deck">
    <div class="card">
        <div class="card-header text-white bg-info mb-3 lead">PSC 255</div>
        <div class="card-body">
            <h5 class="card-title">PSC 255</h5>
            <p class="card-text">Room Status: </p>
            {% if 255.availability == True %}
            <p class="card-text text-success">Available</p>
            {% else %}
            <p class="card-text text-secondary">Not available.</p>
            {% endif %}
            <a href="#" class="btn btn-primary"><img
                    src="{{ url_for('static', filename='chat_bubble_white_24dp.png') }}">
                </img>Report/Book</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-white bg-info mb-3 lead">PSC 256</div>
        <div class="card-body">
            <h5 class="card-title">PSC 256</h5>
            <p class="card-text">Room Status: </p>
            {% if 255.availability == True %}
            <p class="card-text text-success">Available</p>
            {% else %}
            <p class="card-text text-secondary">Not available.</p>
            {% endif %}
            <a href="#" class="btn btn-primary"><img
                    src="{{ url_for('static', filename='chat_bubble_white_24dp.png') }}">
                </img>Report/Book</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-white bg-info mb-3 lead">PSC 258</div>
        <div class="card-body">
            <h5 class="card-title">PSC 258</h5>
            <p class="card-text">Room Status: </p>
            {% if 255.availability == True %}
            <p class="card-text text-success">Available</p>
            {% else %}
            <p class="card-text text-secondary">Not available.</p>
            {% endif %}
            <a href="#" class="btn btn-primary"><img
                    src="{{ url_for('static', filename='chat_bubble_white_24dp.png') }}">
                </img>Report/Book</a>
        </div>
    </div>
</div>

<!-- Modal (Popup Menu for Report/Book button) -->
<div class="modal fade" id="roombooking" tabindex="-1" role="dialog" aria-labelledby="roombookingLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Menu: Share Room's Status -->
            <div class="modal-header">
                <h5 class="modal-title" id="roombookingLabel">Share Status with Other Users</h5>
            </div>
            <div class="modal-body">
                ...
            </div>
            <!-- Menu: Room Booking -->
            <div class="modal-header">
                <h5 class="modal-title" id="roombookingLabel">Book this room</h5>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}