{% extends "layout.html" %}
{% block content %}
<!--Current Location & Last Update-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">PSC</li>
        <li class="breadcrumb-item active" aria-current="page">2nd Floor</li>
    </ol>
</nav>
<div>
    <!-- Needs to update this part later to reflect real-time (server base) -->
    <small class="text-muted">Last updated 3 mins ago</small>
</div>
<!-- This will dynamically populate the page with rooms -->
{% for i in range(1, (f+1)) %}
{% set x = (loop.index * 3) %}
<div class="card-deck">
    <div class="card">
        <div class="card-header text-white bg-info mb-3 lead">PSC {{ classRooms[x - 3].roomNumber }}</div>
        <div class="card-body">
            <input type="hidden" id="room_status_{{ classRooms[x - 3].roomNumber }}" value="{{ classRooms[x - 3].availability }}">
            <input type="hidden" id="room_pending_{{ classRooms[x - 3].roomNumber }}" value="{{ classRooms[x - 3].pending }}">

            <h5 class="card-title">{{classRooms[x-3].roomNumber}}</h5>
            <!-- Room Status If statements -->
            <p class="card-text">Room Status: </p>
            {% if classRooms[x - 3].pending == True %}
            <p class="card-text text-warning">Request Pending</p>
            {% elif classRooms[x - 3].availability == True %}
            <p class="card-text text-success">Available</p>
            {% else %}
            <p class="card-text text-secondary">Not available</p>
            {% endif %}
            <!-- Share Status Button / Request to Book Button -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sharestatus"
                data-whatever1={{classRooms[x - 3].roomNumber}} data-whatever2={{classRooms[x - 3].id}}>
                <i class="far fa-comments"></i> Status</button>
            <button type="button" class="btn btn-primary book-btn" id="PSC_{{ classRooms[x - 3].roomNumber }}" data-toggle="modal" data-target="#roombooking">
                <i class="far fa-calendar-alt"></i> Book</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-white bg-info mb-3 lead">PSC {{ classRooms[x - 2].roomNumber }}</div>
        <div class="card-body">
            <input type="hidden" id="room_status_{{ classRooms[x - 2].roomNumber }}" value="{{ classRooms[x - 2].availability }}">
            <input type="hidden" id="room_pending_{{ classRooms[x - 2].roomNumber }}" value="{{ classRooms[x - 2].pending }}">

            <h5 class="card-title">{{classRooms[x-2].roomNumber}}</h5>
            <!-- Room Status If statements -->
            <p class="card-text">Room Status: </p>
            {% if classRooms[x - 2].pending == True %}
            <p class="card-text text-warning">Request Pending</p>
            {% elif classRooms[x - 2].availability == True %}
            <p class="card-text text-success">Available</p>
            {% else %}
            <p class="card-text text-secondary">Not available</p>
            {% endif %}
            <!-- Share Status Button / Request to Book Button -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sharestatus"
                data-whatever1={{classRooms[x - 2].roomNumber}} data-whatever2={{classRooms[x - 2].id}}>
                <i class="far fa-comments"></i> Status</button>
            <button type="button" class="btn btn-primary book-btn" id="PSC_{{ classRooms[x - 2].roomNumber }}" data-toggle="modal" data-target="#roombooking">
                <i class="far fa-calendar-alt"></i> Book</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-white bg-info mb-3 lead">PSC {{ classRooms[x - 1].roomNumber }}</div>
        <div class="card-body">
            <input type="hidden" id="room_status_{{ classRooms[x - 1].roomNumber }}" value="{{ classRooms[x - 1].availability }}">
            <input type="hidden" id="room_pending_{{ classRooms[x - 1].roomNumber }}" value="{{ classRooms[x - 1].pending }}">

            <h5 class="card-title">{{classRooms[x-1].roomNumber}}</h5>
            <!-- Room Status If statements -->
            <p class="card-text">Room Status: </p>
            {% if classRooms[x - 1].pending == True %}
            <p class="card-text text-warning">Request Pending</p>
            {% elif classRooms[x - 1].availability == True %}
            <p class="card-text text-success">Available</p>
            {% else %}
            <p class="card-text text-secondary">Not available</p>
            {% endif %}
            <!-- Share Status Button / Request to Book Button -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sharestatus"
                data-whatever1={{classRooms[x - 1].roomNumber}} data-whatever2={{classRooms[x - 1].id}}>
                <i class="far fa-comments"></i> Status</button>
            <button type="button" class="btn btn-primary book-btn" id="PSC_{{ classRooms[x - 1].roomNumber }}" data-toggle="modal" data-target="#roombooking">
                <i class="far fa-calendar-alt"></i> Book</button>
        </div>
    </div>
</div><br>
{% endfor %}
<div class="card-deck">
    {% for i in range(0, m) %}
    {% set x = y%}
        <div class="card">
            <div class="card-header text-white bg-info mb-3 lead">PSC {{ classRooms[x+i].roomNumber }}</div>
            <div class="card-body">
                <input type="hidden" id="room_status_{{ classRooms[x+i].roomNumber }}" value="{{ classRooms[x+i].availability }}">
                <input type="hidden" id="room_pending_{{ classRooms[x+i].roomNumber }}" value="{{ classRooms[x+i].pending }}">

                <h5 class="card-title">{{classRooms[x+i].roomNumber}}</h5>
                <!-- Room Status If statements -->
                <p class="card-text">Room Status: </p>
                {% if classRooms[x+i].pending == True %}
                <p class="card-text text-warning">Request Pending</p>
                {% elif classRooms[x+i].availability == True %}
                <p class="card-text text-success">Available</p>
                {% else %}
                <p class="card-text text-secondary">Not available</p>
                {% endif %}
                <!-- Share Status Button / Request to Book Button -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sharestatus"
                    data-whatever1={{classRooms[x+i].roomNumber}} data-whatever2={{classRooms[x+i].id}}>
                    <i class="far fa-comments"></i> Status</button>
                <button type="button" class="btn btn-primary book-btn" id="PSC_{{ classRooms[x+i].roomNumber }}" data-toggle="modal" data-target="#roombooking">
                    <i class="far fa-calendar-alt"></i> Book</button>
            </div>
        </div>
    {% endfor %}
</div><br>

<!-- Modal 1: Popup Menu for Sharing Status with other users. Check out layout.html for corresponding JS script -->
<div class="modal fade" id="sharestatus" tabindex="-1" role="dialog" aria-labelledby="sharestatusLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Menu: Share Room's Status -->
            <div class="modal-header">
                <h5 class="modal-title" id="sharestatusLabel">Share Status with Other Users</h5>
            </div>
            <div class="modal-body share-current-status">
                <a id="set-available" href="#">Available</a><i class="material-icons">lock_open</i>
                <a id="set-not-available" href="#">Not Available</a><i class="material-icons">lock</i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal 2: Popup Menu for classroom booking requests -->
<div class="modal fade" id="roombooking" tabindex="-1" role="dialog" aria-labelledby="roombookingLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Menu: Reqest to Book -->
            <form method="POST" action="">
                {{ form.csrf_token() }}
                <div class="modal-header">
                    <h5 class="modal-title" id="roombookingLabel">Current Status of Room</h5>
                </div>
                <div class="modal-body current-booking-status" id="current-booking-status">
                    ..
                </div>
                <!-- Menu: Room Booking -->
                <div class="modal-header">
                    <h5 class="modal-title" id="roombookingLabel">Book this room</h5>
                </div>
                <ul style="list-style-type: none">
                    <li><b>Room Requested:</b>{{ form.roomNumber.label(class="modal-body modal-form-label") }}
                        {{ form.roomNumber(class="modal-body modal-form-roomNumber", value="") }}</li>
                    <li><b>Date Desired:   </b>{{ form.dateSelect(class="modal-body", id="datePicker") }}</li>
                    <li><b>Time Desired:   </b>{{ form.timeSelect(class="modal-body", id="timePicker") }}</li>
                    <li><b>For How Long?   </b>{{ form.duration(class="modal-body", id="durationPicker") }}</li>
                    <li><b>Reason for Booking?</b>
                    {% if form.reason.errors %}
                     {{ form.reason(class="form-control form-control-lg is-invalid", id="reasonMessage") }}
                     <input disabled  maxlength="3" size="3" value="0" id="counter">
                     <div class="invalid-feedback">
                         {% for error in form.reason.errors %}
                            <span>{{ error }}</span>
                         {% endfor %}
                     </div>
                     {% else %}
                        {{ form.reason(class="form-control form-control-lg", id="reasonMessage") }}
                        <input disabled  maxlength="3" size="3" value="0" id="counter">
                    {% endif %}</li>
                </ul>                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ form.submit(class= "btn btn-primary book-confirm") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}